SERIAL_PORT=/dev/ttyACM0
BIND_HOST=0.0.0.0
BIND_PORT=8080

HOME_LAT=-34.606615
HOME_LON=-58.4355

MAP_CENTER_ZOOM=12
TRACEROUTE_COOLDOWN_SEC=60
TRACEROUTE_TIMEOUT_SEC=15
PRUNE_AFTER_SEC=129600
POLL_REFRESH_SEC=3

WATCHDOG_INTERVAL_SEC=30
WATCHDOG_MAX_FAILS=3
NODEINFO_INTERVAL_SEC=600

SSL_CERT=ssl/mapa-mesh.pem
SSL_KEY=ssl/mapa-mesh.key
